APP_PORT=8000
FRONTEND_PORT=4173
LAN_HOST=localhost

APP_KEY=

DB_DATABASE=yazoo
DB_PUBLISHED_PORT=3307
DB_USERNAME=yazoo
DB_PASSWORD=
DB_ROOT_PASSWORD=

REDIS_PASSWORD=

SONAR_HOST_URL=http://localhost:9000
SONAR_TOKEN=
SONAR_DB_NAME=sonarqube
SONAR_DB_USERNAME=sonar
SONAR_DB_PASSWORD=
