/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.*
!.env.example
!.env.production.example
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/coverage
/.scannerwork
/.sonar
*.log
*.sql
*.sql.gz
*.dump
*.bak
*.backup
*.zip
*.tar
*.gz
*.7z
*.pem
*.key
/backups
/dumps
/.fleet
/.idea
/.nova
/.vscode
/.zed
